@CHARSET "UTF-8";

@media (max-width: 8300px) and (min-width: 1230px) {

#background {
	background-size: 100%;
	background-color: rgb(230, 230, 230);
	background-attachment: fixed;
	background-position: 0px;
	margin-left: 30px;
	margin-right: 5%;
	overflow-x: hidden;
	text-shadow: 0px 1px 4px black;
}

#background-neon {
	background-size: 100%;
	background-attachment: fixed;
	background-position: 0px;
	margin-left: 30px;
	margin-right: 5%;
	overflow-x: hidden;
	text-shadow: 0px 1px 4px black;
}

#logo

img{
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(0, 0, 0);
	top: 0px;
	margin-left: -40px;
	position: fixed;
	padding-top: 2px;
	padding-right: 2000px;
	padding-left: 40px;
	padding-bottom: 2px;
	font-family: arial;
	text-shadow: none;
	text-shadow: 0px 0px 2px gray;
	box-shadow: 0px 0px 7px grey;
	webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(7px); 
}

#téléphone

img{
	display: inline-block;
	width: 500px;
	margin-top: 170px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-right: calc(810px + (100vw - 1300px) * (1300 - 8300) / (1300 - 8300));
	background-color: #004aad;
	padding-left: 0px;
	margin-left: -30px;
	box-shadow: 0px 0px 500px #ffffff;
}

#copyright {
	position: fixed;
	bottom: 10px;
	left: 33px;
	font-size: 12px;
	color: white;
	padding-right: calc(810px + (100vw - 1300px) * (1300 - 8300) / (1300 - 8300));
}

#menu-accueil {
	position: fixed;
	top: 0px;
	right: 440px;
	font-size: 20px;
	font-family: arial;
	text-shadow: none;
}

#menu-acheter {
	position: fixed;
	top: 0px;
	right: 300px;
	font-size: 20px;
	font-family: arial;
	text-shadow: none;
	color: none;
}

#menu-vendre {
	position: fixed;
	top: 0px;
	right: 175px;
	font-size: 20px;
	font-family: arial;
	text-shadow: none;
}

#menu-a-propos {
	position: fixed;
	top: 0px;
	right: 30px;
	font-size: 20px;
	font-family: arial;
	text-shadow: none;
}

#titre-accueil {
	margin-top: 200px;
	margin-left: 10%;
	font-size: 250%;
	font-family: arial;
	text-shadow: none;
}

#sous-titre-accueil {
	margin-top: 25px;
	margin-left: 10%;
	font-size: 30px;
	font-family: arial;
	text-shadow: none;
}

#texte-accueil {
	margin-top: -280px;
	margin-right: 100px;
	font-size: 250%;
	font-family: arial;
	color: white;
	text-shadow: 0px 0px 6px black;
}

#étoile-texte-accueil {
	margin-top: 50px;
	margin-right: 100px;
	font-size: 75%;
	font-family: arial;
	color: white;
	text-shadow: 0px 0px 6px black;
}

#tel {
	display: inline-block;
	background-color: rgb(0, 215, 20);
	margin-left: 9.9%;
	border-radius: 30px;
	padding-right: 20px;
	margin-right: 15px;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 10px;
	text-shadow: none;
	font-family: arial;
	font-size: 20px;
	box-shadow: 2px 2px 5px green;
}

#tel 

img {
	width: 16px;
	height: 16px;
	margin-top: 10px;
	margin-right: 12px;
}


div.link:hover {
	transform: scale(1.02);
}

#tarifs {
	margin-top: 160px;
	margin-left: 8%;
	font-size: 30px;
	font-family: arial;
	text-shadow: none;
}

#apple

img {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -40px;
	background-color: rgb(250, 250, 250);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: calc(40% - 20px);
	padding-right: calc(40% - 20px);
	box-shadow: 0px 0px 7px grey;
}

div.link2:hover {
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.0);
	margin-bottom: -6px;
}

#samsung

img {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -40px;
	background-color: rgb(250, 250, 250);
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: calc(40% - 20px);
	padding-right: calc(40% - 20px);
	box-shadow: 0px 0px 7px grey;
}

div.link2:hover {
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.0);
}

#huawei

img {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -40px;
	background-color: rgb(250, 250, 250);
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: calc(40% - 20px);
	padding-right: calc(40% - 20px);
	box-shadow: 0px 0px 7px grey;
}

div.link2:hover {
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.0);
}

#xiaomi

img {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -40px;
	background-color: rgb(250, 250, 250);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: calc(40% - 20px);
	padding-right: calc(40% - 20px);
	box-shadow: 0px 0px 7px grey;
}

div.link2:hover {
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.0);
}

#autres

img {
	width: 100px;
	margin-top: 10px;
	margin-bottom: 50px;
	margin-left: -40px;
	background-color: rgb(250, 250, 250);
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: calc(40% - 20px);
	padding-right: calc(40% - 20px);
	box-shadow: 0px 0px 7px grey;
}

div.link2:hover {
	border-width: 3px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0.0);
}

#titre-marques {
	margin-top: 80px;
	margin-bottom: 20px;
	margin-left: 1%;
	font-size: 140%;
	font-family: arial;
	text-shadow: none;
}

#sous-titre-marques {
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 1%;
	font-size: 100%;
	font-family: arial;
	text-shadow: none;
}

#bulle-message-gris {
	display: inline-block;
	margin-left: calc(80% - 20px);
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: rgb(170, 170, 170);
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	font-family: verdana;
	box-shadow: 0px 0px 7px grey;
}

#bulle-message-bleu {
	display: inline-block;
	margin-left: calc(110% - 20px);
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgb(130, 130, 255);
	border-radius: 20px;
	border-bottom-right-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	font-family: verdana;
	box-shadow: 0px 0px 7px blue;
}

#bulle-message-bleu2 {
	display: inline-block;
	margin-left: calc(118% - 20px);
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgb(130, 130, 255);
	border-radius: 20px;
	border-bottom-right-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	font-family: verdana;
	box-shadow: 0px 0px 7px blue;
}

#bulle-message-bleu3 {
	display: inline-block;
	margin-left: calc(150% - 20px);
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: rgb(0, 160, 90);
	border-radius: 20px;
	border-bottom-right-radius: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 18px;
	font-family: verdana;
	box-shadow: 0px 0px 7px green;
}

#vu {
	display: inline-block;
	margin-left: 202%;
	margin-top: 5px;
	margin-bottom: 0px;
	color: white;
	font-size: 14px;
	font-family: verdana;
}

.loader {
	position: fixed;
	top: 63px;
	left: 0px;
	width: 1900px;
	height: 2.5px;
	background-color: white;
	-webkit-box-reflect: below 0px linear-gradient(transparent, black);
}

.loader::before {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(90deg, pink, blue, green, yellow, pink, blue, green, yellow, pink);
	animation: animate 20s linear infinite;
	background-size: 500%;
}

.loader::after {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(90deg, pink, blue, green, yellow, pink, blue, green, yellow, pink);
	animation: animate 20s linear infinite;
	background-size: 500%;
	filter: blur(20px);
}

@keyframes animate {
	0%{
		background-position: 0 0;
	}
	0%{
		background-position: 500%, 0;
	}
}

:root {
	--clr-neon: hsl(317 100% 54%);
	--clr-bg: hsl(323 100% 100%);
}

*,

*::before,

*::after {
	box-sizing: content-box;
}

body {
	display: inline-block;
	position: relative;
	place-items: center;
}

#neon-text {
	display: inline-block;
	position: fixed;
	margin-top: 300px;
	left: 70px;
	margin-left: 30px;
	align-items: right;
	align-content: center;
	font-family: verdana;
}

.neon-button {
	font-size: 2rem;
	display: inline-block;
	cursor: default;
	text-decoration: none;
	color: var(--clr-neon);
	border: var(--clr-neon) 0.125cm solid;
	padding: 0.25cm 1cm;
	border-radius: 1cm;
	text-shadow: 0 0 0.125cm =hsl(0 0% 100% / 0.3), 0 0 0.45cm currentColor;
	box-shadow: inset 0 0 1.5cm 0 var(--clr-neon), 0 0 0.5cm 0 var(--clr-neon);
	position: relative;
	padding-bottom: 10px;
}

.neon-button::before {
	pointer-events: none;
	content: '';
	position: absolute;
	background: var(--clr-neon);
	top: 120%;
	right: 0px;
	width: 100%;
	height: 100%;
	transform: perspective(2cm) rotateX(40deg) scale(10, 0.35);
	filter: blur(1cm);
	opacity: 0.5;
}

.neon-button::before {
	content: '';
	position: absolute;
	border-radius: 0.8cm;
	top: 80;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: 0 0 2cm 0.5cm var(--clr-neon);
	opacity: 0;
	background-color: var(--clr-bg);
	z-index: -1;
	transition: opacity 100ms linear;
}

.neon-button,
.neon-button:focus {
	color: var(--clr-bg);
	text-shadow: none;
}

.neon-button::before,
.neon-button:focus::before {
	opacity: 1;
}

.neon-button::after,
.neon-button:focus::after {
	opacity: 1;
}

.animated-background {
	background-color: rgb(20, 0, 50);
	background-size: 100% 100%;
	animation: animate-background 10s infinite ease-in-out;
}

@keyframes animate-background {
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}

#titre-a-propos {
	position: fixed;
	right: 0px;
	margin-right: 120px;
	margin-top: 150px;
	font-size: 250%;
	color: white;
	font-family: arial;
	text-shadow: none;
	text-align: right;
}

#description {
	position: fixed;
	margin-top: 430px;
	margin-left: 50px;
	margin-right: 80px;
	color: white;
	font-family: arial;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0px 0px 7px grey;
	backdrop-filter: blur(7px);
	border-radius: 10px;
}

#titre-acheter {
	margin-top: 220px;
	margin-left: 14%;
	font-size: 250%;
	font-family: arial;
	text-shadow: none;
}

#ebay-click {
	display: inline-block;
	background-color: rgb(250, 250, 250);
	margin-left: 13.9%;
	border-radius: 30px;
	padding-right: 20px;
	margin-right: 15px;
	padding-left: 20px;
	padding-top: 6px;
	padding-bottom: 13px;
	text-shadow: none;
	font-family: arial;
	font-size: 20px;
	box-shadow: 2px 2px 5px grey;
}

#sous-titre-acheter {
	margin-top: 25px;
	margin-left: 14%;
	font-size: 30px;
	font-family: arial;
	text-shadow: none;
}

#ebay-click

img {
	width: 28px;
	height: 16px;
	margin-top: 10px;
	margin-right: 12px;
}

div.link:hover {
	transform: scale(1.02);
}

#bas-de-page {
	margin-top: 25px;
	margin-left: -80px;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 14%;
	padding-bottom: 100px;
	margin-bottom: -10px;
	background-color: grey;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#bas-de-page-acheter {
	position: static;
	margin-top: 600px;
	margin-left: -80px;
	font-size: 20px;
	padding-top: 20px;
	padding-left: 14%;
	padding-right: calc(1210px + (100vw - 1300px) * (1300 - 8300) / (1300 - 8300));
	padding-bottom: 100px;
	margin-bottom: -10px;
	background-color: grey;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#bas-de-page-garanties {
	position: absolute;
	margin-top: -80px;
	margin-left: 30px;
	font-size: 16px;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#bas-de-page-paiements {
	position: absolute;
	margin-top: -80px;
	margin-left: 140px;
	font-size: 16px;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#bas-de-page-copyright {
	position: absolute;
	margin-top: -40px;
	margin-left: 30px;
	font-size: 16px;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#bas-de-page-vendre {
	position: absolute;
	margin-top: -80px;
	margin-left: 330px;
	font-size: 16px;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#bas-de-page-contact {
	position: absolute;
	margin-top: -80px;
	margin-left: 500px;
	font-size: 16px;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#PayPal {
	position: absolute;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #169BD7;
	box-shadow: 0px 0px 10px grey;
	font-size: 26px;
	font-family: arial;
	color: white;
	text-shadow: none;
}

#Especes {
	position: absolute;
	margin-left: 370px;
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #F5F5DC;
	box-shadow: 0px 0px 10px grey;
	font-size: 26px;
	font-family: arial;
	color: black;
	text-shadow: none;
}

form {
    width: 100%;
    background-color: rgba(200,200,200,0.2);
    border-radius: 10px;
    padding : 5px 30px;
    font-family: arial;
	color: black;
	text-shadow: none;
}

.c100 {
    width: 100%;
    margin: 20px;
}

label {
    display: inline-block;
    min-width: 35%;
}

input[type="submit"] {
    color: #004aad;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    border: 2px solid #002aad;
}

input[type="submit"]:hover{
    background-color: #004aad;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 5px 0px #777;
}

}


body{
	display: inline-block;
	background-color: rgba(255, 255, 255, 1.0);
	color: black;
}
